<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Family Finances - Admin Panel</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <main>
            <div id="main-wrapper">
                <form id="data-changes-form">
                    <h2 id="adding-and-removing">Add savings</h2>
                    <input type="number">
                    <a>Submit</a>
                </form>
                <div id="fixed-data">
                    <p>Family name: $FamilyName</p>
                    <p>Family members:</p>
                    <ul>
                        <li>$FamilyMember</li>
                        <li>$FamilyMember</li>
                        <li>$FamilyMember</li>
                        <li>$FamilyMember</li>
                        <li>$FamilyMember</li>
                    </ul>
                    <h3 id="savings-to-change">Savings: $2500</h3>
                </div>
            </div>
        </main>
    </body>
</html>