<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Family Finances - Admin Panel</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <main>
            <div id="main-wrapper">
<!--                <form id="data-changes-form" >-->
                <div id="data-changes-form">
                    <h2 id="adding-and-removing">Add savings</h2>
                    <input type="number" value="1000" id="money">
                    <p id="error"></p>
                    <button id="submitBudgetButton" onClick="window.location.reload()">Submit</button>
                    <a class="cancel-button" href="/families">Cancel</a>
<!--                </form>-->
                </div>
                <div id="fixed-data">
                    <p>Family name: {{familyName}}</p>
                    <p>Family members:</p>
                    <ul>
                        {{#each familyMembers}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                    <h3 id="savings-to-change">Savings: $<span id="savingsNow">{{savings}}</span></h3>
                    <p id="familyId">{{familyId}}</p>
                </div>
            </div>
        </main>
        <script src="/js/app.js"></script>
    </body>
</html>