<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Family Finances - Database</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <main>
            <table>
                <thead>
                    <tr>
                        <th>Family Name</th>
                        <th>Family Budget</th>
                        <th>Edit Budget</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each families}}
                        <tr>
                            <td>{{familyName}}</td>
                            <td>{{savings}}</td>
                            <td class="button-td"><a href="/families/{{_id}}">Edit Budget</a></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </main>
    </body>
</html>