<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Family Finances</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body id="index-body">
        <div id="title">
            <h1>Family Finances App</h1>
            <h2>Manage your finances in the controlled way</h2>
        </div>
        <form>
            <div class="input-and-title">
                <label for="email">Email</label><input name="email" id="email" type="email">
            </div>
            <div class="input-and-title">
                <label for="password">Password</label><input name="password" id="password" type="password">
            </div>
            <a href="">Login</a>
        </form>
    </body>
</html>