<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Family Finances</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body id="index-body">
        <div id="title">
            <h1>Family Finances App</h1>
            <h2>Manage your finances in the controlled way</h2>
        </div>
        <form>
            <div class="input-and-title">
                <p>Email</p><input type="email">
            </div>
            <div class="input-and-title">
                <p>Password</p><input type="password">
            </div>
            <button type="submit">Login</button>
        </form>
    </body>
</html>