<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Family Finances - User Panel</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div id="panel-title">
            <h1>Family Finances App</h1>
            <button id="logout-button">Logout</button>
        </div>
    </header>
    <main>
        <div id="main-wrapper">
            <form id="data-changes-form">
                <h2 id="adding-and-removing">Add Expense</h2>
                <input type="number">
                <button type="submit">Submit</button>
            </form>
            <div id="fixed-data">
                <p>Family name: $FamilyName</p>
                <p>Family members:</p>
                <ul>
                    <li>$FamilyMember</li>
                    <li>$FamilyMember</li>
                    <li>$FamilyMember</li>
                    <li>$FamilyMember</li>
                    <li>$FamilyMember</li>
                </ul>
                <h3 id="savings-to-change">Savings: $2500</h3>
            </div>
        </div>
    </main>
</body>
</html>