<header>
    <div id="panel-title">
        <h1>Family Finances App</h1>
        <div id="hello-logout">
            <h3>Hello $name! </h3>
            <a id="logout-button" href="/">Logout</a>
        </div>
    </div>
</header>